spring:
  application:
    name: gateway
  server:
    port: 8083

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: auth-service
             # uri: lb://auth-service
              uri: http://localhost:8081
              predicates:
                - Path=/auth/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: authServiceCircuitBreaker
                    fallbackUri: forward:/fallback/auth

            - id: user-service
              #uri: lb://user-service
              uri: http://localhost:8080
              predicates:
                - Path=/api/users/**,/api/cards/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: userServiceCircuitBreaker
                    fallbackUri: forward:/fallback/user

            - id: order-service
              #uri: lb://order-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/items/**,/api/orders/**,/api/order-items/**
              filters:
                - name: CircuitBreaker
                  args:
                   name: orderServiceCircuitBreaker
                   fallbackUri: forward:/fallback/order
          httpclient:
            connect-timeout: 1000
            response-timeout: 5000

#For WebClient
services:
  userservice:
    url: http://localhost:8080
  authservice:
    url: http://localhost:8081

logging:
  level:
    org.springframework.boot.web.embedded.netty: DEBUG
    org.springframework.cloud.gateway: DEBUG
    com.mymicroservice: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    urls:
      - url: /api-docs
        name: Gateway API
      - url: http://localhost:8081/v3/api-docs
        name: Auth Service
      - url: http://localhost:8080/v3/api-docs
        name: User Service
      - url: http://localhost:8082/v3/api-docs
        name: Order Service